<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="uData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="uname"
              class="form-control">
              <!-- <span
                class="warning"
                *ngIf="signupForm.get('uData.uname').errors['nameIsForbidden']"
              >
                This username is forbidden!
              </span> -->
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="uemail"
              class="form-control">
              <span
                class="warning"
                *ngIf="!signupForm.get('uData.uemail').valid && signupForm.get('uData.uemail').touched"
              >
                Please enter a valid email!
              </span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="ugender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <span
          class="warning"
          *ngIf="!signupForm.valid && signupForm.touched"
        >
              Please enter a valid data!
        </span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
